<aside class="sidebar static">
	<div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves">
			<li>
				<i class="ti-user"></i>
				<a href="/friends">Friends</a>
			</li>

			<li>
				<i class="ti-comments-smiley"></i>
				<a href="/inbox">Inbox</a>
			</li>

			<li>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 39a8f092bdca4a35c17e4cfe209dc4de8e3f7476
				<i class="ti-files"></i>
				<a href="/createPage">Create Page</a>
			</li>

			<li>
<<<<<<< HEAD
=======
=======
>>>>>>> 95da7e24ea0c3ca5a11f8b4eb88770c38e1ad1dd
>>>>>>> 39a8f092bdca4a35c17e4cfe209dc4de8e3f7476
				<i class="ti-bell"></i>
				<a href="/notifications">Notifications <span class="badge" id="notifications-badge"></span></a>
			</li>
		</ul>
	</div>
</aside>