<html>

<head>
	<title>Social Network</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/main.min.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/color.css">
	<link rel="stylesheet" href="/public/css/responsive.css">
</head>

<body>

	<%
		months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	%>

	<div class="theme-layout">

		<div class="topbar stick">
			<div class="logo">
				<a href="/">
					<img src="/public/img/logo.png" style="width: 70px;">
				</a>
			</div>

			<div class="top-area">
				<ul class="main-menu" id="main-menu">

				</ul>

				<ul class="setting-area">

					<li>
						<a href="#">
							<i class="ti-search"></i>
						</a>
						<div class="searched">
							<form onsubmit="return false;" class="form-search">
								<input type="type" placeholder="Search Friend">
								<button data-ripple type="button" onclick="onSearch(this);">
									<i class="ti-search"></i>
								</button>
							</form>
						</div>
					</li>

				</ul>

			</div>
		</div>
	<div class="feature-photo">

		<figure>
			<img class="cover-photo" id="cover-photo" style="width: 100%; height: 700px; object-fit: cover;" src="<%= mainURL + "/" + user.coverPhoto %>">
		</figure>

		<div class="container-fluid">
			<div class="row merged">
				<div class="col-md-2">
					<div class="user-avatar">
						<figure>

							<img class="profile-image" id="profile-image" style="width: 100%; height: 150px; object-fit: cover;" src="<%= mainURL + "/" + user.profileImage %>">
						</figure>
					</div>
				</div>
				<div class="col-md-10">
					<div class="timeline-info">
						<ul>
							<li class="admin-name">
								<h5 class="user-name" style="padding-top: 20px; padding-bottom: 20px;">
                                    <%= user.name %>
                                </h5>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">
                            <div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves">
			<li>
				<i class="ti-user"></i>
				<a href="/friends">Friends</a>
			</li>

			<li>
				<i class="ti-comments-smiley"></i>
				<a href="/inbox">Inbox</a>
			</li>

			<li>
				<i class="ti-bell"></i>
				<a href="/notifications">Notifications <span class="badge" id="notifications-badge"></span></a>
			</li>
		</ul>
	</div>
						</div>

						<div class="col-md-6">
							<div class="central-meta">
								<div class="editing-info">

									<h5 class="f-title">
										<i class="ti-info-alt"></i>
										Profile
									</h5>
                                    
                                    <h3>Full Name</h3>
                                    <p><%= user.name %></p>

                                    <br><br>

                                    <h3>Email</h3>
                                    <p><%= user.email %></p>

                                    <br><br>

                                    <h3>Date of Birth</h3>
                                    <p><%= user.dob == "" ? "N/A" : user.dob %></p>

                                    <br><br>

                                    <h3>City</h3>
                                    <p><%= user.city == "" ? "N/A" : user.city %></p>

                                    <br><br>

                                    <h3>Country</h3>
                                    <p><%= user.country == "" ? "N/A" : user.country %></p>

                                    <br><br>

                                    <h3>About</h3>
                                    <p><%= user.aboutMe == "" ? "N/A" : user.aboutMe %></p>
                                    
								</div>
							</div>
						</div>

                        <div class="col-md-3">
                            	<div class="widget">
		<h4 class="widget-title">Your pages</h4>

		<div id="my-pages"></div>

	</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
    <footer>
		<div class="container">
			<div class="row">
				Your website &copy; <%= new Date().getFullYear() %>
			</div>
		</div>
	</footer>

<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/script.js"></script>